<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <style>
            #againsttdm {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            #againsttdm td, #againsttdm th {
                border: 1px solid #ddd;
                padding: 2px;
            }

            #againsttdm tr:nth-child(even){background-color: #f2f2f2;}

            #againsttdm tr:hover {background-color: #ddd;}

            #againsttdm th {
                padding-top: 3px;
                padding-bottom: 3px;
                text-align: center;
                background-color: #4CAF50;
                color: white;
            }
        </style>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
            <div class="resources grid gridatt">
                {{!-- "flex-group-center" is also defined in the _grid.scss file
                and it will add a small amount of padding, a border, and will
                center all of its child elements content and text. --}}





            </div>


        </div>
    </header>


    <table id="againsttdm">
        <tr>
            <th>Kin</th>
            <th>Culture </th>
            <th>Vocation</th>

        </tr>
        <tr>
            <td><input type="text" name="data.kin.value" value="{{data.kin.value}}" data-dtype="String"/></td>
            <td><input type="text" name="data.culture.value" value="{{data.culture.value}}" data-dtype="String"/></td></td>
            <td><input type="text" name="data.vocation.value" value="{{data.vocation.value}}" data-dtype="String"/></td></td>
        </tr>
    </table>
    <table id="againsttdm">
        <tr>
            <th> </th>
            <th>Hit Points</th>
            <th>Magic Points</th>
            <th>XP Points</th>
            <th>Drive Points</th>
            <th>Level</th>
            <th>Heroic Path</th>
            <th>Movement</th>
            <th>Defense</th>

        </tr>
        <tr>
            <td> Current</td>
            <td><input type="text" name="data.hitPoints.value" value="{{data.hitPoints.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="data.magicPoints.value" value="{{data.magicPoints.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="data.xp.value" value="{{data.xp.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="data.drivePoints.value" value="{{data.drivePoints.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="data.drivePoints.min" value="{{data.drivePoints.min}}" data-dtype="Number"/></td>
            <td><input type="text" name="data.moveRate.value" value="{{data.moveRate.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="data.defense.melee" value="{{data.defense.melee}}" data-dtype="Number"/></td>
            <td><input type="text" name="data.defense.ranged" value="{{data.defense.ranged}}" data-dtype="Number"/></td>

        </tr>
        <tr>
            <td> Maximum</td>
            <td><input type="text" name="data.hitPoints.max" value="{{data.hitPoints.max}}" data-dtype="Number"/></td>
            <td><input type="text" name="data.magicPoints.max" value="{{data.magicPoints.max}}" data-dtype="Number"/></td>
            <td></td>
            <td></td>
            <td>10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

        {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="skills">Details</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="npc">Npc</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}

        </div>
        {{!-- Stats Tab --}}



        <div class="detail" data-group="primary" data-tab="Details">



            <table id="againsttdm">
                <tr>
                    <th>Passions</th>
                    <th> </th>

                </tr>
                <tr>
                    <td><label>Nature</label></td>
                    <td><input type="text" name="data.narrative.nature.value" value="{{data.narrative.nature.value}}" data-dtype="String"/></td>
                </tr>
                <tr>
                    <td><label>Motivation</label></td>
                    <td><input type="text" name="data.narrative.motivation.value" value="{{data.narrative.motivation.value}}" data-dtype="String"/></td>
                </tr>
                <tr>
                    <td><label>Allegiance</label></td>
                    <td><input type="text" name="data.narrative.allegiance.value" value="{{data.narrative.allegiance.value}}" data-dtype="String"/></td>
                </tr>
            </table>

            <table id="againsttdm">
                <tr>
                    <th>Armor and Shield</th>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.armorAndshield.first" value="{{data.narrative.armorAndshield.first}}" data-dtype="string" /></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.armorAndshield.two" value="{{data.narrative.armorAndshield.two}}" data-dtype="string"/></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.armorAndshield.three" value="{{data.narrative.armorAndshield.three}}" data-dtype="string" /></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.armorAndshield.four" value="{{data.narrative.armorAndshield.four}}" data-dtype="string" /></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.armorAndshield.five" value="{{data.narrative.armorAndshield.five}}" data-dtype="string" /></td>
                </tr>
            </table>
            <table id="againsttdm">
                <tr>
                    <th>Weapons and Attack</th>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.weaponsAndattack.first" value="{{data.narrative.weaponsAndattack.first}}" data-dtype="string" /></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.weaponsAndattack.two" value="{{data.narrative.weaponsAndattack.two}}" data-dtype="string"/></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.weaponsAndattack.three" value="{{data.narrative.weaponsAndattack.three}}" data-dtype="string" /></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.weaponsAndattack.four" value="{{data.narrative.weaponsAndattack.four}}" data-dtype="string" /></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.weaponsAndattack.five" value="{{data.narrative.weaponsAndattack.five}}" data-dtype="string" /></td>
                </tr>
            </table>
            <table id="againsttdm">
                <tr>
                    <th>Equipment</th>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.equipment.first" value="{{data.narrative.equipment.first}}" data-dtype="string" /></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.equipment.two" value="{{data.narrative.equipment.two}}" data-dtype="string"/></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.equipment.three" value="{{data.narrative.equipment.three}}" data-dtype="string" /></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.equipment.four" value="{{data.narrative.equipment.four}}" data-dtype="string" /></td>
                </tr>
                <tr>
                    <td> <input type="text" name="data.narrative.equipment.five" value="{{data.narrative.equipment.five}}" data-dtype="string" /></td>
                </tr>
            </table>





            <table id="againsttdm">
                <tr>
                    <th>Statistics</th>
                    <th>Base</th>
                    <th>Kin</th>
                    <th>Special</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td><label for="data.stats.brn.value" class="attribute-label">{{data.stats.brn.label}}</label></td>
                    <td> <input type="text" name="data.stats.brn.base" value="{{data.stats.brn.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.brn.kin" value="{{data.stats.brn.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.brn.spec" value="{{data.stats.brn.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.brn.value" value="{{data.stats.brn.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><label for="data.stats.swi.value" class="attribute-label">{{data.stats.swi.label}}</label></td>
                    <td> <input type="text" name="data.stats.swi.base" value="{{data.stats.swi.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.swi.kin" value="{{data.stats.swi.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.swi.spec" value="{{data.stats.swi.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.swi.value" value="{{data.stats.swi.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><label for="data.stats.for.value" class="attribute-label">{{data.stats.for.label}}</label></td>
                    <td> <input type="text" name="data.stats.for.base" value="{{data.stats.for.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.for.kin" value="{{data.stats.for.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.for.spec" value="{{data.stats.for.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.for.value" value="{{data.stats.for.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><label for="data.stats.wit.value" class="attribute-label">{{data.stats.wit.label}}</label></td>
                    <td> <input type="text" name="data.stats.wit.base" value="{{data.stats.wit.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wit.kin" value="{{data.stats.wit.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wit.spec" value="{{data.stats.wit.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wit.value" value="{{data.stats.wit.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><label for="data.stats.wsd.value" class="attribute-label">{{data.stats.wsd.label}}</label></td>
                    <td> <input type="text" name="data.stats.wsd.base" value="{{data.stats.wsd.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wsd.kin" value="{{data.stats.wsd.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wsd.spec" value="{{data.stats.wsd.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wsd.value" value="{{data.stats.wsd.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><label for="data.stats.bea.value" class="attribute-label">{{data.stats.bea.label}}</label></td>
                    <td> <input type="text" name="data.stats.bea.base" value="{{data.stats.bea.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.bea.kin" value="{{data.stats.bea.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.bea.spec" value="{{data.stats.bea.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.bea.value" value="{{data.stats.bea.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
            </table>
            <table id="againsttdm">
                <tr>
                    <th>Save Rolls</th>
                    <th>Stat</th>
                    <th>Level</th>
                    <th>Kin</th>
                    <th>Special</th>
                    <th>RollMod</th>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.saves.toughness.value}} + {{data.saves.toughness.modifier}}" data-label="{{data.saves.toughness.label}} RollMod:{{data.saves.toughness.modifier}}">{{data.saves.toughness.label}}:{{data.saves.toughness.value}} </span></td>
                    <td> <input type="text" name="data.saves.toughness.stat" value="{{data.saves.toughness.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.saves.toughness.lvl" value="{{data.saves.toughness.lvl}}" data-dtype="Number" placeholder="{{data.attributes.level.value}}"/></td>
                    <td><input type="text" name="data.saves.toughness.kin" value="{{data.saves.toughness.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.saves.toughness.spec" value="{{data.saves.toughness.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.saves.toughness.modifier" value="{{data.saves.toughness.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.saves.willpower.value}} + {{data.saves.willpower.modifier}}" data-label="{{data.saves.willpower.label}} RollMod:{{data.saves.willpower.modifier}}">{{data.saves.willpower.label}}:{{data.saves.willpower.value}} </span></td>
                    <td> <input type="text" name="data.saves.willpower.stat" value="{{data.saves.willpower.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.saves.willpower.lvl" value="{{data.saves.willpower.lvl}}" data-dtype="Number" placeholder="{{data.attributes.level.value}}"/></td>
                    <td><input type="text" name="data.saves.willpower.kin" value="{{data.saves.willpower.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.saves.willpower.spec" value="{{data.saves.willpower.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.saves.willpower.modifier" value="{{data.saves.willpower.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
            </table>
            <table id="againsttdm">
                <tr>
                    <th>Armor Skill</th>
                    <th>Stat</th>
                    <th>#Ranks</th>
                    <th>Bonus</th>
                    <th>Vocation</th>
                    <th>Kin</th>
                    <th>Special</th>
                    <th>Item</th>
                    <th>RollMod</th>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.armorSkills.armor.value}} + {{data.armorSkills.armor.modifier}}" data-label="{{data.armorSkills.armor.label}} RollMod:{{data.armorSkills.armor.modifier}}">{{data.armorSkills.armor.label}}:{{data.armorSkills.armor.value}} </span></td>
                    <td> <input type="text" name="data.armorSkills.armor.stat" value="{{data.armorSkills.armor.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.armorSkills.armor.rank" value="{{data.armorSkills.armor.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.armorSkills.armor.rankBonus" value="{{data.armorSkills.armor.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.armorSkills.armor.voc" value="{{data.armorSkills.armor.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.armorSkills.armor.kin" value="{{data.armorSkills.armor.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.armorSkills.armor.spec" value="{{data.armorSkills.armor.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.armorSkills.armor.item" value="{{data.armorSkills.armor.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.armorSkills.armor.modifier" value="{{data.armorSkills.armor.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
            </table>
            <table id="againsttdm">
                <tr>
                    <th>Combat Skills</th>
                    <th>Stat</th>
                    <th>#Ranks</th>
                    <th>Bonus</th>
                    <th>Vocation</th>
                    <th>Kin</th>
                    <th>Special</th>
                    <th>Item</th>
                    <th>RollMod</th>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.combatSkills.blunt.value}} + {{data.combatSkills.blunt.modifier}}" data-label="{{data.combatSkills.blunt.label}} RollMod:{{data.combatSkills.blunt.modifier}}">{{data.combatSkills.blunt.label}}:{{data.combatSkills.blunt.value}} </span></td>
                    <td> <input type="text" name="data.combatSkills.blunt.stat" value="{{data.combatSkills.blunt.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blunt.rank" value="{{data.combatSkills.blunt.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blunt.rankBonus" value="{{data.combatSkills.blunt.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blunt.voc" value="{{data.combatSkills.blunt.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blunt.kin" value="{{data.combatSkills.blunt.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blunt.spec" value="{{data.combatSkills.blunt.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blunt.item" value="{{data.combatSkills.blunt.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blunt.modifier" value="{{data.combatSkills.blunt.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.combatSkills.blades.value}} + {{data.combatSkills.blades.modifier}}" data-label="{{data.combatSkills.blades.label}} RollMod:{{data.combatSkills.blades.modifier}}">{{data.combatSkills.blades.label}}:{{data.combatSkills.blades.value}} </span></td>
                    <td> <input type="text" name="data.combatSkills.blades.stat" value="{{data.combatSkills.blades.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blades.rank" value="{{data.combatSkills.blades.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blades.rankBonus" value="{{data.combatSkills.blades.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blades.voc" value="{{data.combatSkills.blades.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blades.kin" value="{{data.combatSkills.blades.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blades.spec" value="{{data.combatSkills.blades.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blades.item" value="{{data.combatSkills.blades.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.blades.modifier" value="{{data.combatSkills.blades.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.combatSkills.ranged.value}} + {{data.combatSkills.ranged.modifier}}" data-label="{{data.combatSkills.ranged.label}} RollMod:{{data.combatSkills.ranged.modifier}}">{{data.combatSkills.ranged.label}}:{{data.combatSkills.ranged.value}} </span></td>
                    <td> <input type="text" name="data.combatSkills.ranged.stat" value="{{data.combatSkills.ranged.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.ranged.rank" value="{{data.combatSkills.ranged.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.ranged.rankBonus" value="{{data.combatSkills.ranged.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.ranged.voc" value="{{data.combatSkills.ranged.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.ranged.kin" value="{{data.combatSkills.ranged.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.ranged.spec" value="{{data.combatSkills.ranged.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.ranged.item" value="{{data.combatSkills.ranged.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.ranged.modifier" value="{{data.combatSkills.ranged.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.combatSkills.polearms.value}} + {{data.combatSkills.polearms.modifier}}" data-label="{{data.combatSkills.polearms.label}} RollMod:{{data.combatSkills.polearms.modifier}}">{{data.combatSkills.polearms.label}}:{{data.combatSkills.polearms.value}} </span></td>
                    <td> <input type="text" name="data.combatSkills.polearms.stat" value="{{data.combatSkills.polearms.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.polearms.rank" value="{{data.combatSkills.polearms.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.polearms.rankBonus" value="{{data.combatSkills.polearms.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.polearms.voc" value="{{data.combatSkills.polearms.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.polearms.kin" value="{{data.combatSkills.polearms.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.polearms.spec" value="{{data.combatSkills.polearms.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.polearms.item" value="{{data.combatSkills.polearms.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.polearms.modifier" value="{{data.combatSkills.polearms.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.combatSkills.brawl.value}} + {{data.combatSkills.brawl.modifier}}" data-label="{{data.combatSkills.brawl.label}} RollMod:{{data.combatSkills.brawl.modifier}}">{{data.combatSkills.brawl.label}}:{{data.combatSkills.brawl.value}} </span></td>
                    <td> <input type="text" name="data.combatSkills.brawl.stat" value="{{data.combatSkills.brawl.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.brawl.rank" value="{{data.combatSkills.brawl.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.brawl.rankBonus" value="{{data.combatSkills.brawl.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.brawl.voc" value="{{data.combatSkills.brawl.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.brawl.kin" value="{{data.combatSkills.brawl.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.brawl.spec" value="{{data.combatSkills.brawl.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.brawl.item" value="{{data.combatSkills.brawl.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.combatSkills.brawl.modifier" value="{{data.combatSkills.brawl.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
            </table>
            <table id="againsttdm">
                <tr>
                    <th>Adventuring Skills</th>
                    <th>Stat</th>
                    <th>#Ranks</th>
                    <th>Bonus</th>
                    <th>Vocation</th>
                    <th>Kin</th>
                    <th>Special</th>
                    <th>Item</th>
                    <th>RollMod</th>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.adventuringSkills.athletics.value}} + {{data.adventuringSkills.athletics.modifier}}" data-label="{{data.adventuringSkills.athletics.label}} RollMod:{{data.adventuringSkills.athletics.modifier}}">{{data.adventuringSkills.athletics.label}}:{{data.adventuringSkills.athletics.value}} </span></td>
                    <td> <input type="text" name="data.adventuringSkills.athletics.stat" value="{{data.adventuringSkills.athletics.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.athletics.rank" value="{{data.adventuringSkills.athletics.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.athletics.rankBonus" value="{{data.adventuringSkills.athletics.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.athletics.voc" value="{{data.adventuringSkills.athletics.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.athletics.kin" value="{{data.adventuringSkills.athletics.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.athletics.spec" value="{{data.adventuringSkills.athletics.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.athletics.item" value="{{data.adventuringSkills.athletics.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.athletics.modifier" value="{{data.adventuringSkills.athletics.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.adventuringSkills.ride.value}} + {{data.adventuringSkills.ride.modifier}}" data-label="{{data.adventuringSkills.ride.label}} RollMod:{{data.adventuringSkills.ride.modifier}}">{{data.adventuringSkills.ride.label}}:{{data.adventuringSkills.ride.value}} </span></td>
                    <td> <input type="text" name="data.adventuringSkills.ride.stat" value="{{data.adventuringSkills.ride.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.ride.rank" value="{{data.adventuringSkills.ride.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.ride.rankBonus" value="{{data.adventuringSkills.ride.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.ride.voc" value="{{data.adventuringSkills.ride.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.ride.kin" value="{{data.adventuringSkills.ride.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.ride.spec" value="{{data.adventuringSkills.ride.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.ride.item" value="{{data.adventuringSkills.ride.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.ride.modifier" value="{{data.adventuringSkills.ride.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.adventuringSkills.hunting.value}} + {{data.adventuringSkills.hunting.modifier}}" data-label="{{data.adventuringSkills.hunting.label}} RollMod:{{data.adventuringSkills.hunting.modifier}}">{{data.adventuringSkills.hunting.label}}:{{data.adventuringSkills.hunting.value}} </span></td>
                    <td> <input type="text" name="data.adventuringSkills.hunting.stat" value="{{data.adventuringSkills.hunting.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.hunting.rank" value="{{data.adventuringSkills.hunting.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.hunting.rankBonus" value="{{data.adventuringSkills.hunting.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.hunting.voc" value="{{data.adventuringSkills.hunting.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.hunting.kin" value="{{data.adventuringSkills.hunting.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.hunting.spec" value="{{data.adventuringSkills.hunting.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.hunting.item" value="{{data.adventuringSkills.hunting.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.hunting.modifier" value="{{data.adventuringSkills.hunting.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.adventuringSkills.nature.value}} + {{data.adventuringSkills.nature.modifier}}" data-label="{{data.adventuringSkills.nature.label}} RollMod:{{data.adventuringSkills.nature.modifier}}">{{data.adventuringSkills.nature.label}}:{{data.adventuringSkills.nature.value}} </span></td>
                    <td> <input type="text" name="data.adventuringSkills.nature.stat" value="{{data.adventuringSkills.nature.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.nature.rank" value="{{data.adventuringSkills.nature.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.nature.rankBonus" value="{{data.adventuringSkills.nature.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.nature.voc" value="{{data.adventuringSkills.nature.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.nature.kin" value="{{data.adventuringSkills.nature.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.nature.spec" value="{{data.adventuringSkills.nature.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.nature.item" value="{{data.adventuringSkills.nature.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.nature.modifier" value="{{data.adventuringSkills.nature.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.adventuringSkills.wandering.value}} + {{data.adventuringSkills.wandering.modifier}}" data-label="{{data.adventuringSkills.wandering.label}} RollMod:{{data.adventuringSkills.wandering.modifier}}">{{data.adventuringSkills.wandering.label}}:{{data.adventuringSkills.wandering.value}} </span></td>
                    <td> <input type="text" name="data.adventuringSkills.wandering.stat" value="{{data.adventuringSkills.wandering.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.wandering.rank" value="{{data.adventuringSkills.wandering.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.wandering.rankBonus" value="{{data.adventuringSkills.wandering.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.wandering.voc" value="{{data.adventuringSkills.wandering.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.wandering.kin" value="{{data.adventuringSkills.wandering.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.wandering.spec" value="{{data.adventuringSkills.wandering.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.wandering.item" value="{{data.adventuringSkills.wandering.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.adventuringSkills.wandering.modifier" value="{{data.adventuringSkills.wandering.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
            </table>
            <table id="againsttdm">
                <tr>
                    <th>Roguery Skills</th>
                    <th>Stat</th>
                    <th>#Ranks</th>
                    <th>Bonus</th>
                    <th>Vocation</th>
                    <th>Kin</th>
                    <th>Special</th>
                    <th>Item</th>
                    <th>RollMod</th>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.roguerySkills.acrobatics.value}} + {{data.roguerySkills.acrobatics.modifier}}" data-label="{{data.rogueSkills.acrobatics.label}} RollMod:{{data.rogueSkills.acrobatics.modifier}}">{{data.roguerySkills.acrobatics.label}}:{{data.roguerySkills.acrobatics.value}} </span></td>
                    <td> <input type="text" name="data.roguerySkills.acrobatics.stat" value="{{data.roguerySkills.acrobatics.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.acrobatics.rank" value="{{data.roguerySkills.acrobatics.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.acrobatics.rankBonus" value="{{data.roguerySkills.acrobatics.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.acrobatics.voc" value="{{data.roguerySkills.acrobatics.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.acrobatics.kin" value="{{data.roguerySkills.acrobatics.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.acrobatics.spec" value="{{data.roguerySkills.acrobatics.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.acrobatics.item" value="{{data.roguerySkills.acrobatics.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.acrobatics.modifier" value="{{data.roguerySkills.acrobatics.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.roguerySkills.stealth.value}} + {{data.roguerySkills.stealth.modifier}}" data-label="{{data.rogueSkills.stealth.label}} RollMod:{{data.rogueSkills.stealth.modifier}}">{{data.roguerySkills.stealth.label}}:{{data.roguerySkills.stealth.value}} </span></td>
                    <td> <input type="text" name="data.roguerySkills.stealth.stat" value="{{data.roguerySkills.stealth.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.stealth.rank" value="{{data.roguerySkills.stealth.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.stealth.rankBonus" value="{{data.roguerySkills.stealth.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.stealth.voc" value="{{data.roguerySkills.stealth.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.stealth.kin" value="{{data.roguerySkills.stealth.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.stealth.spec" value="{{data.roguerySkills.stealth.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.stealth.item" value="{{data.roguerySkills.stealth.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.stealth.modifier" value="{{data.roguerySkills.stealth.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.roguerySkills.locksAndtraps.value}} + {{data.roguerySkills.locksAndtraps.modifier}}" data-label="{{data.rogueSkills.locksAndtraps.label}} RollMod:{{data.rogueSkills.locksAndtraps.modifier}}">{{data.roguerySkills.locksAndtraps.label}}:{{data.roguerySkills.locksAndtraps.value}} </span></td>
                    <td> <input type="text" name="data.roguerySkills.locksAndtraps.stat" value="{{data.roguerySkills.locksAndtraps.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.locksAndtraps.rank" value="{{data.roguerySkills.locksAndtraps.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.locksAndtraps.rankBonus" value="{{data.roguerySkills.locksAndtraps.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.locksAndtraps.voc" value="{{data.roguerySkills.locksAndtraps.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.locksAndtraps.kin" value="{{data.roguerySkills.locksAndtraps.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.locksAndtraps.spec" value="{{data.roguerySkills.locksAndtraps.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.locksAndtraps.item" value="{{data.roguerySkills.locksAndtraps.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.locksAndtraps.modifier" value="{{data.roguerySkills.locksAndtraps.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.roguerySkills.perception.value}} + {{data.roguerySkills.perception.modifier}}" data-label="{{data.rogueSkills.perception.label}} RollMod:{{data.rogueSkills.perception.modifier}}">{{data.roguerySkills.perception.label}}:{{data.roguerySkills.perception.value}} </span></td>
                    <td> <input type="text" name="data.roguerySkills.perception.stat" value="{{data.roguerySkills.perception.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.perception.rank" value="{{data.roguerySkills.perception.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.perception.rankBonus" value="{{data.roguerySkills.perception.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.perception.voc" value="{{data.roguerySkills.perception.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.perception.kin" value="{{data.roguerySkills.perception.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.perception.spec" value="{{data.roguerySkills.perception.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.perception.item" value="{{data.roguerySkills.perception.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.perception.modifier" value="{{data.roguerySkills.perception.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.roguerySkills.deceive.value}} + {{data.roguerySkills.deceive.modifier}}" data-label="{{data.rogueSkills.deceive.label}} RollMod:{{data.rogueSkills.deceive.modifier}}">{{data.roguerySkills.deceive.label}}:{{data.roguerySkills.deceive.value}} </span></td>
                    <td> <input type="text" name="data.roguerySkills.deceive.stat" value="{{data.roguerySkills.deceive.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.deceive.rank" value="{{data.roguerySkills.deceive.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.deceive.rankBonus" value="{{data.roguerySkills.deceive.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.deceive.voc" value="{{data.roguerySkills.deceive.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.deceive.kin" value="{{data.roguerySkills.deceive.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.deceive.spec" value="{{data.roguerySkills.deceive.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.deceive.item" value="{{data.roguerySkills.deceive.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.roguerySkills.deceive.modifier" value="{{data.roguerySkills.deceive.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
            </table>

            <table id="againsttdm">
                <tr>
                    <th>Lore Skills</th>
                    <th>Stat</th>
                    <th>#Ranks</th>
                    <th>Bonus</th>
                    <th>Vocation</th>
                    <th>Kin</th>
                    <th>Special</th>
                    <th>Item</th>
                    <th>RollMod</th>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.loreSkills.arcana.value}} + {{data.loreSkills.arcana.modifier}}" data-label="{{data.loreSkills.arcana.label}} RollMod:{{data.loreSkills.arcana.modifier}}">{{data.loreSkills.arcana.label}}:{{data.loreSkills.arcana.value}} </span></td>
                    <td> <input type="text" name="data.loreSkills.arcana.stat" value="{{data.loreSkills.arcana.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.arcana.rank" value="{{data.loreSkills.arcana.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.arcana.rankBonus" value="{{data.loreSkills.arcana.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.arcana.voc" value="{{data.loreSkills.arcana.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.arcana.kin" value="{{data.loreSkills.arcana.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.arcana.spec" value="{{data.loreSkills.arcana.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.arcana.item" value="{{data.loreSkills.arcana.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.arcana.modifier" value="{{data.loreSkills.arcana.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.loreSkills.charisma.value}} + {{data.loreSkills.charisma.modifier}}" data-label="{{data.loreSkills.charisma.label}} RollMod:{{data.loreSkills.charisma.modifier}}">{{data.loreSkills.charisma.label}}:{{data.loreSkills.charisma.value}} </span></td>
                    <td> <input type="text" name="data.loreSkills.charisma.stat" value="{{data.loreSkills.charisma.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.charisma.rank" value="{{data.loreSkills.charisma.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.charisma.rankBonus" value="{{data.loreSkills.charisma.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.charisma.voc" value="{{data.loreSkills.charisma.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.charisma.kin" value="{{data.loreSkills.charisma.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.charisma.spec" value="{{data.loreSkills.charisma.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.charisma.item" value="{{data.loreSkills.charisma.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.charisma.modifier" value="{{data.loreSkills.charisma.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.loreSkills.cultures.value}} + {{data.loreSkills.cultures.modifier}}" data-label="{{data.loreSkills.cultures.label}} RollMod:{{data.loreSkills.cultures.modifier}}">{{data.loreSkills.cultures.label}}:{{data.loreSkills.cultures.value}} </span></td>
                    <td> <input type="text" name="data.loreSkills.cultures.stat" value="{{data.loreSkills.cultures.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.cultures.rank" value="{{data.loreSkills.cultures.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.cultures.rankBonus" value="{{data.loreSkills.cultures.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.cultures.voc" value="{{data.loreSkills.cultures.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.cultures.kin" value="{{data.loreSkills.cultures.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.cultures.spec" value="{{data.loreSkills.cultures.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.cultures.item" value="{{data.loreSkills.cultures.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.cultures.modifier" value="{{data.loreSkills.cultures.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.loreSkills.healer.value}} + {{data.loreSkills.healer.modifier}}" data-label="{{data.loreSkills.healer.label}} RollMod:{{data.loreSkills.healer.modifier}}">{{data.loreSkills.healer.label}}:{{data.loreSkills.healer.value}} </span></td>
                    <td> <input type="text" name="data.loreSkills.healer.stat" value="{{data.loreSkills.healer.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.healer.rank" value="{{data.loreSkills.healer.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.healer.rankBonus" value="{{data.loreSkills.healer.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.healer.voc" value="{{data.loreSkills.healer.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.healer.kin" value="{{data.loreSkills.healer.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.healer.spec" value="{{data.loreSkills.healer.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.healer.item" value="{{data.loreSkills.healer.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.healer.modifier" value="{{data.loreSkills.healer.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.loreSkills.songAndtales.value}} + {{data.loreSkills.songAndtales.modifier}}" data-label="{{data.loreSkills.songAndtales.label}} RollMod:{{data.loreSkills.songAndtales.modifier}}">{{data.loreSkills.songAndtales.label}}:{{data.loreSkills.songAndtales.value}} </span></td>
                    <td> <input type="text" name="data.loreSkills.songAndtales.stat" value="{{data.loreSkills.songAndtales.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.songAndtales.rank" value="{{data.loreSkills.songAndtales.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.songAndtales.rankBonus" value="{{data.loreSkills.songAndtales.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.songAndtales.voc" value="{{data.loreSkills.songAndtales.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.songAndtales.kin" value="{{data.loreSkills.songAndtales.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.songAndtales.spec" value="{{data.loreSkills.songAndtales.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.songAndtales.item" value="{{data.loreSkills.songAndtales.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.loreSkills.songAndtales.modifier" value="{{data.loreSkills.songAndtales.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
            </table>

            <table id="againsttdm">
                <tr>
                    <th>Body Skill</th>
                    <th>Stat</th>
                    <th>#Ranks</th>
                    <th>Bonus</th>
                    <th>Vocation</th>
                    <th>Kin</th>
                    <th>Special</th>
                    <th>Item</th>
                    <th>RollMod</th>
                </tr>
                <tr>
                    <td><span class="ability-mod rollable" data-roll="d100x>95 + {{data.bodySkills.body.value}} + {{data.bodySkills.body.modifier}}" data-label="{{data.bodySkills.body.label}} RollMod:{{data.bodySkills.body.modifier}}">{{data.bodySkills.body.label}}:{{data.bodySkills.body.value}} </span></td>
                    <td> <input type="text" name="data.bodySkills.body.stat" value="{{data.bodySkills.body.stat}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.bodySkills.body.rank" value="{{data.bodySkills.body.rank}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.bodySkills.body.rankBonus" value="{{data.bodySkills.body.rankBonus}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.bodySkills.body.voc" value="{{data.bodySkills.body.voc}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.bodySkills.body.kin" value="{{data.bodySkills.body.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.bodySkills.body.spec" value="{{data.bodySkills.body.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.bodySkills.body.item" value="{{data.bodySkills.body.item}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.bodySkills.body.modifier" value="{{data.bodySkills.body.modifier}}" data-dtype="Number" placeholder="0"/></td>
                </tr>

            </table>


        </div>
        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">Name</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                    </div>
                </li>
                {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>
        {{!-- NPC Tab --}}
    <section class="npc-body">

        <div class="detail" data-group="primary" data-tab="npc">
            <table id="againsttdm">
                <tr>
                    <th></th>
                    <th></th>
                    <th>RollMod</th>

                </tr>
                <tr>
                    <td><input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="String"/></td>
                    <td></td>
                </tr>
            </table>
        </div>


    </section>
</form>

