<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
            <div class="resources grid gridatt">
                {{!-- "flex-group-center" is also defined in the _grid.scss file
                and it will add a small amount of padding, a border, and will
                center all of its child elements content and text. --}}

                <div class="resources flex-group-left">
                    <label for="data.kin.value" class="attribute-label">Kin</label>
                    <div class="resource-content flexrow flex-center flex-group-center">
                        <input type="text" name="data.kin.value" value="{{data.kin.value}}" data-dtype="String"/>
                    </div>
                </div>
                <div class="resources sflex-group-left">
                    <label for="data.vocation.value" class="attribute-label">Vocation</label>
                    <div class="resource-content flexrow flex-center flex-group-center">
                        <input type="text" name="data.vocation.value" value="{{data.vocation.value}}" data-dtype="String"/>
                    </div>
                </div>
                <div class="resources flex-group-left">
                    <label for="data.culture.value" class="attribute-label">Culture</label>
                    <div class="resource-content flexrow flex-center flex-group-center">
                        <input type="text" name="data.culture.value" value="{{data.culture.value}}" data-dtype="String"/>
                    </div>
                </div>
                <div class="resources flex-group-center">
                    <label for="data.xp.value" class="attribute-label">XP : Level</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.xp.value" value="{{data.xp.value}}" data-dtype="Number"/>
                        <span> : </span>
                        <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number"/>
                    </div>
                </div>

            </div>
            <div class="resources grid gridatt">

                <div class="resources flex-group-center">
                    <label for="data.hitPoints.value" class="attribute-label">HP</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.hitPoints.value" value="{{data.hitPoints.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="data.hitPoints.max" value="{{data.hitPoints.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resources flex-group-center">
                    <label for="data.magicPoints.value" class="attribute-label">Magic</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.magicPoints.value" value="{{data.magicPoints.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="data.magicPoints.max" value="{{data.magicPoints.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resources flex-group-left">
                    <label for="data.moveRate.value" class="attribute-label">Move</label>
                    <div class="resource-content flexrow flex-center flex-group-center">
                        <input type="text" name="data.moveRate.value" value="{{data.moveRate.value}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resources flex-group-left">
                    <label for="data.defense.value" class="attribute-label">Defense</label>
                    <div class="resource-content flexrow flex-center flex-group-center">
                        <input type="text" name="data.defense.value" value="{{data.defense.value}}" data-dtype="Number"/>
                    </div>
                </div>

            </div>

        </div>
    </header>

    <style>
        #againsttdm {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #againsttdm td, #againsttdm th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #againsttdm tr:nth-child(even){background-color: #f2f2f2;}

        #againsttdm tr:hover {background-color: #ddd;}

        #againsttdm th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="skills">Details</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>
        {{!-- Stats Tab --}}



        <div class="detail" data-group="primary" data-tab="Details">
            <div class="resources grid grid-1col">
                <div class="resource flex-group-left">
                    <label for="data.narrative.nature.value" class="attribute-label">Nature</label>
                    <div class="resource-content flexrow flex-center flex-group-center">
                        <input type="text" name="data.narrative.nature.value" value="{{data.narrative.nature.value}}" data-dtype="String"/>
                    </div>
                </div>
                <div class="resources flex-group-left">
                    <label for="data.narrative.motivation.value" class="attribute-label">Motivation</label>
                    <div class="resource-content flexrow flex-center flex-group-center">
                        <input type="text" name="data.narrative.motivation.value" value="{{data.narrative.motivation.value}}" data-dtype="String"/>
                    </div>
                </div>
                <div class="resources flex-group-left">
                    <label for="data.narrative.allegiance.value" class="attribute-label">Allegiance</label>
                    <div class="resource-content flexrow flex-center flex-group-center">
                        <input type="text" name="data.narrative.allegiance.value" value="{{data.narrative.allegiance.value}}" data-dtype="String"/>
                    </div>
                </div>
                <div class="resources flex-group-left">
                    <label for="data.narrative.heroicPath.value" class="attribute-label">Heroic Path</label>
                    <div class="resource-content flexrow flex-center flex-group-center">
                        <input type="text" name="data.narrative.heroicPath.value" value="{{data.narrative.heroicPath.value}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="flex-group-left">
                    <label for="data.narrative.drivePoints.value" class="attribute-label">Drive Points</label>
                    <div class="resource-content flexrow flex-center flex-group-center">
                        <input type="text" name="data.narrative.drivePoints.value" value="{{data.narrative.drivePoints.value}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>

            <table id="againsttdm">
                <tr>
                    <th>STATS</th>
                    <th>Base</th>
                    <th>Kin</th>
                    <th>Spec</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td><label for="data.stats.brn.value" class="attribute-label">{{data.stats.brn.label}}</label></td>
                    <td> <input type="text" name="data.stats.brn.base" value="{{data.stats.brn.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.brn.kin" value="{{data.stats.brn.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.brn.spec" value="{{data.stats.brn.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.brn.value" value="{{data.stats.brn.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><label for="data.stats.swi.value" class="attribute-label">{{data.stats.swi.label}}</label></td>
                    <td> <input type="text" name="data.stats.swi.base" value="{{data.stats.swi.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.swi.kin" value="{{data.stats.swi.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.swi.spec" value="{{data.stats.swi.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.swi.value" value="{{data.stats.swi.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><label for="data.stats.for.value" class="attribute-label">{{data.stats.for.label}}</label></td>
                    <td> <input type="text" name="data.stats.for.base" value="{{data.stats.for.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.for.kin" value="{{data.stats.for.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.for.spec" value="{{data.stats.for.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.for.value" value="{{data.stats.for.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><label for="data.stats.wit.value" class="attribute-label">{{data.stats.wit.label}}</label></td>
                    <td> <input type="text" name="data.stats.wit.base" value="{{data.stats.wit.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wit.kin" value="{{data.stats.wit.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wit.spec" value="{{data.stats.wit.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wit.value" value="{{data.stats.wit.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><label for="data.stats.wsd.value" class="attribute-label">{{data.stats.wsd.label}}</label></td>
                    <td> <input type="text" name="data.stats.wsd.base" value="{{data.stats.wsd.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wsd.kin" value="{{data.stats.wsd.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wsd.spec" value="{{data.stats.wsd.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.wsd.value" value="{{data.stats.wsd.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
                <tr>
                    <td><label for="data.stats.bea.value" class="attribute-label">{{data.stats.bea.label}}</label></td>
                    <td> <input type="text" name="data.stats.bea.base" value="{{data.stats.bea.base}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.bea.kin" value="{{data.stats.bea.kin}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.bea.spec" value="{{data.stats.bea.spec}}" data-dtype="Number" placeholder="0"/></td>
                    <td><input type="text" name="data.stats.bea.value" value="{{data.stats.bea.value}}" data-dtype="Number" placeholder="0"/></td>
                </tr>
            </table>


        </div>


        <div class="flexrow gridatt">
            <label> SAVES </label>
            <label> Stat </label>
            <label> Level </label>
            <label> Kin </label>
            <label> Spec </label>
            <Label> RollMod  </Label>
        </div>
        {{#each data.saves as |saves key|}}
        <div class="flexrow gridatt">
            <span class="ability-mod rollable" data-roll="d100x>95 + {{saves.value}} + {{saves.modifier}}" data-label="{{saves.label}} RollMod:{{saves.modifier}}">{{saves.label}}:{{saves.value}} </span>
            <input type="text" name="data.saves.{{key}}.stat" value="{{saves.stat}}" data-dtype="Number"/>
            <input type="text" name="data.saves.{{key}}.lvl" value="{{saves.lvl}}" data-dtype="Number"/>
            <input type="text" name="data.saves.{{key}}.kin" value="{{saves.kin}}" data-dtype="Number"/>
            <input type="text" name="data.saves.{{key}}.spec" value="{{saves.spec}}" data-dtype="Number"/>
            <input type="text" name="data.saves.{{key}}.modifier" value="{{saves.modifier}}" data-dtype="Number"/>
        </div>
        {{/each}}

        <div class="flexrow gridatt">
            <label> ARMOR  </label>
            <label> Stat </label>
            <label> #Ranks </label>
            <label> Bonus  </label>
            <label> Voc </label>
            <label> Kin </label>
            <label> Spec </label>
            <Label> Item </Label>
            <Label> RollMod  </Label>
        </div>
        {{#each data.armorSkills as |armorSkills key|}}
        <div class="flexrow gridatt">
            <span class="ability-mod rollable" data-roll="d100x>95 + {{armorSkills.value}} + {{armorSkills.modifier}}" data-label="{{armorSkills.label}} RollMod:{{armorSkills.modifier}}">{{armorSkills.label}}:{{armorSkills.value}}</span>
            <input type="text" name="data.armorSkills.{{key}}.stat" value="{{armorSkills.stat}}" data-dtype="Number"/>
            <input type="text" name="data.armorSkills.{{key}}.rank" value="{{armorSkills.rank}}" data-dtype="Number"/>
            <input type="text" name="data.armorSkills.{{key}}.rankBonus" value="{{armorSkills.rankBonus}}" data-dtype="Number"/>
            <input type="text" name="data.armorSkills.{{key}}.voc" value="{{armorSkills.voc}}" data-dtype="Number"/>
            <input type="text" name="data.armorSkills.{{key}}.kin" value="{{armorSkills.kin}}" data-dtype="Number"/>
            <input type="text" name="data.armorSkills.{{key}}.spec" value="{{armorSkills.spec}}" data-dtype="Number"/>
            <input type="text" name="data.armorSkills.{{key}}.item" value="{{armorSkills.item}}" data-dtype="Number"/>
            <input type="text" name="data.armorSkills.{{key}}.value" value="{{armorSkills.value}}" data-dtype="Number"/>
        </div>
        {{/each}}
        <div class="flexrow gridatt">
            <label> COMBAT </label>
            <label> Stat </label>
            <label> #Ranks </label>
            <label> Bonus  </label>
            <label> Voc </label>
            <label> Kin </label>
            <label> Spec </label>
            <Label> Item </Label>
            <Label> RollMod  </Label>
        </div>
        {{#each data.combatSkills as |combatSkills key|}}
        <div class="flexrow gridatt">
            <span class="ability-mod rollable" data-roll="d100x>95 + {{combatSkills.value}} + {{combatSkills.modifier}}" data-label="{{combatSkills.label}} RollMod:{{combatSkills.modifier}}">{{combatSkills.label}}:{{combatSkills.value}}</span>
            <input type="text" name="data.combatSkills.{{key}}.stat" value="{{combatSkills.stat}}" data-dtype="Number"/>
            <input type="text" name="data.combatSkills.{{key}}.rank" value="{{combatSkills.rank}}" data-dtype="Number"/>
            <input type="text" name="data.combatSkills.{{key}}.rankBonus" value="{{combatSkills.rankBonus}}" data-dtype="Number"/>
            <input type="text" name="data.combatSkills.{{key}}.voc" value="{{combatSkills.voc}}" data-dtype="Number"/>
            <input type="text" name="data.combatSkills.{{key}}.kin" value="{{combatSkills.kin}}" data-dtype="Number"/>
            <input type="text" name="data.combatSkills.{{key}}.spec" value="{{combatSkills.spec}}" data-dtype="Number"/>
            <input type="text" name="data.combatSkills.{{key}}.item" value="{{combatSkills.item}}" data-dtype="Number"/>
            <input type="text" name="data.combatSkills.{{key}}.modifier" value="{{combatSkills.modifier}}" data-dtype="Number"/>
        </div>
        {{/each}}
        <div class="flexrow gridatt">
            <label> ADVENTURING </label>
            <label> Stat </label>
            <label> #Ranks </label>
            <label> Bonus  </label>
            <label> Voc </label>
            <label> Kin </label>
            <label> Spec </label>
            <Label> Item </Label>
            <Label> RollMod  </Label>
        </div>
        {{#each data.adventuringSkills as |adventuringSkills key|}}
        <div class="flexrow gridatt">
            <span class="ability-mod rollable" data-roll="d100x>95 + {{adventuringSkills.value}} + {{adventuringSkills.modifier}}" data-label="{{adventuringSkills.label}} RollMod:{{adventuringSkills.modifier}}">{{adventuringSkills.label}}:{{adventuringSkills.value}}</span>
            <input type="text" name="data.adventuringSkills.{{key}}.stat" value="{{adventuringSkills.stat}}" data-dtype="Number"/>
            <input type="text" name="data.adventuringSkills.{{key}}.rank" value="{{adventuringSkills.rank}}" data-dtype="Number"/>
            <input type="text" name="data.adventuringSkills.{{key}}.rankBonus" value="{{adventuringSkills.rankBonus}}" data-dtype="Number"/>
            <input type="text" name="data.adventuringSkills.{{key}}.voc" value="{{adventuringSkills.voc}}" data-dtype="Number"/>
            <input type="text" name="data.adventuringSkills.{{key}}.kin" value="{{adventuringSkills.kin}}" data-dtype="Number"/>
            <input type="text" name="data.adventuringSkills.{{key}}.spec" value="{{adventuringSkills.spec}}" data-dtype="Number"/>
            <input type="text" name="data.adventuringSkills.{{key}}.item" value="{{adventuringSkills.item}}" data-dtype="Number"/>
            <input type="text" name="data.adventuringSkills.{{key}}.modifier" value="{{adventuringSkills.modifier}}" data-dtype="Number"/>
        </div>
        {{/each}}
        <div class="flexrow gridatt">
            <label> ROGUERY </label>
            <label> Stat </label>
            <label> #Ranks </label>
            <label> Bonus  </label>
            <label> Voc </label>
            <label> Kin </label>
            <label> Spec </label>
            <Label> Item </Label>
            <Label> RollMod  </Label>
        </div>
        {{#each data.roguerySkills as |roguerySkills key|}}
        <div class="flexrow gridatt">
            <span class="ability-mod rollable" data-roll="d100x>95 + {{roguerySkills.value}} + {{roguerySkills.modifier}}" data-label="{{roguerySkills.label}} RollMod:{{roguerySkills.modifier}}">{{roguerySkills.label}}:{{roguerySkills.value}}</span>
            <input type="text" name="data.roguerySkills.{{key}}.stat" value="{{roguerySkills.stat}}" data-dtype="Number"/>
            <input type="text" name="data.roguerySkills.{{key}}.rank" value="{{roguerySkills.rank}}" data-dtype="Number"/>
            <input type="text" name="data.roguerySkills.{{key}}.rankBonus" value="{{roguerySkills.rankBonus}}" data-dtype="Number"/>
            <input type="text" name="data.roguerySkills.{{key}}.voc" value="{{roguerySkills.voc}}" data-dtype="Number"/>
            <input type="text" name="data.roguerySkills.{{key}}.kin" value="{{roguerySkills.kin}}" data-dtype="Number"/>
            <input type="text" name="data.roguerySkills.{{key}}.spec" value="{{roguerySkills.spec}}" data-dtype="Number"/>
            <input type="text" name="data.roguerySkills.{{key}}.item" value="{{roguerySkills.item}}" data-dtype="Number"/>
            <input type="text" name="data.roguerySkills.{{key}}.modifier" value="{{roguerySkills.modifier}}" data-dtype="Number"/>
        </div>
        {{/each}}
        <div class="flexrow gridatt">
            <label> LORE </label>
            <label> Stat </label>
            <label> #Ranks </label>
            <label> Bonus  </label>
            <label> Voc </label>
            <label> Kin </label>
            <label> Spec </label>
            <Label> Item </Label>
            <Label> RollMod  </Label>
        </div>
        {{#each data.loreSkills as |loreSkills key|}}
        <div class="flexrow gridatt">
            <span class="ability-mod rollable" data-roll="d100x>95 + {{loreSkills.value}} + {{loreSkills.modifier}}" data-label="{{loreSkills.label}} RollMod:{{loreSkills.modifier}}">{{loreSkills.label}}:{{loreSkills.value}}</span>
            <input type="text" name="data.loreSkills.{{key}}.stat" value="{{loreSkills.stat}}" data-dtype="Number"/>
            <input type="text" name="data.loreSkills.{{key}}.rank" value="{{loreSkills.rank}}" data-dtype="Number"/>
            <input type="text" name="data.loreSkills.{{key}}.rankBonus" value="{{loreSkills.rankBonus}}" data-dtype="Number"/>
            <input type="text" name="data.loreSkills.{{key}}.voc" value="{{loreSkills.voc}}" data-dtype="Number"/>
            <input type="text" name="data.loreSkills.{{key}}.kin" value="{{loreSkills.kin}}" data-dtype="Number"/>
            <input type="text" name="data.loreSkills.{{key}}.spec" value="{{loreSkills.spec}}" data-dtype="Number"/>
            <input type="text" name="data.loreSkills.{{key}}.item" value="{{loreSkills.item}}" data-dtype="Number"/>
            <input type="text" name="data.loreSkills.{{key}}.modifier" value="{{loreSkills.modifier}}" data-dtype="Number"/>
        </div>
        {{/each}}

        <div class="flexrow gridatt">
            <label> BODY </label>
            <label> Stat </label>
            <label> #Ranks </label>
            <label> Bonus  </label>
            <label> Voc </label>
            <label> Kin </label>
            <label> Spec </label>
            <Label> Item </Label>
            <Label> RollMod  </Label>
        </div>
        {{#each data.bodySkills as |bodySkills key|}}
        <div class="flexrow gridatt">
            <span class="ability-mod rollable" data-roll="d100x>95 + {{bodySkills.value}} + {{bodySkills.modifier}}" data-label="{{bodySkills.label}} RollMod:{{bodySkills.modifier}}">{{bodySkills.label}}:{{bodySkills.value}}</span>
            <input type="text" name="data.bodySkills.{{key}}.stat" value="{{bodySkills.stat}}" data-dtype="Number"/>
            <input type="text" name="data.bodySkills.{{key}}.rank" value="{{bodySkills.rank}}" data-dtype="Number"/>
            <input type="text" name="data.bodySkills.{{key}}.rankBonus" value="{{bodySkills.rankBonus}}" data-dtype="Number"/>
            <input type="text" name="data.bodySkills.{{key}}.voc" value="{{bodySkills.voc}}" data-dtype="Number"/>
            <input type="text" name="data.bodySkills.{{key}}.kin" value="{{bodySkills.kin}}" data-dtype="Number"/>
            <input type="text" name="data.bodySkills.{{key}}.spec" value="{{bodySkills.spec}}" data-dtype="Number"/>
            <input type="text" name="data.bodySkills.{{key}}.item" value="{{bodySkills.item}}" data-dtype="Number"/>
            <input type="text" name="data.bodySkills.{{key}}.modifier" value="{{bodySkills.modifier}}" data-dtype="Number"/>
        </div>
        {{/each}}
        </div>
        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">Name</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                    </div>
                </li>
                {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

    </section>
</form>

