<form class="{{cssClass}}" autocomplete="off">
    {{! Sheet Header }}
    <header class="sheet-header flexrow">
        {{> "systems/againsttdm/templates/actors/partials/character-header.html"}}
    </header>

    {{! Sheet Tab Navigation }}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">
            {{localize "againsttdm.category.attributes"}}
        </a>
        <a class="item" data-tab="skills">
            {{localize "againsttdm.category.skills"}}
        </a>
        <a class="item" data-tab="foci">
            {{localize "againsttdm.category.foci"}}
        </a>
        {{#if data.spells.enabled}}
        <a class="item" data-tab="spells">
            {{localize "againsttdm.category.spells"}}
        </a>
        {{/if}}
        <a class="item" data-tab="inventory">
            {{localize "againsttdm.category.inventory"}}
        </a>
        <a class="item" data-tab="notes">
            {{localize "againsttdm.category.notes"}}
        </a>
    </nav>
    {{! Sheet Body }}
    <section class="sheet-body">
        {{! Attributes Tab }}
        <div class="tab" data-group="primary" data-tab="attributes">
            {{> "systems/againsttdm/templates/actors/partials/character-attributes-tab.html"}}
        </div>
        <div class="tab" data-group="primary" data-tab="skills">
            {{> "systems/againsttdm/templates/actors/partials/character-skills-tab.html"}}
        </div>
        <div class="tab" data-group="primary" data-tab="foci">
            {{> "systems/againsttdm/templates/actors/partials/character-foci-tab.html"}}
        </div>
        {{#if data.spells.enabled}}
        <div class="tab" data-group="primary" data-tab="spells">
            {{> "systems/againsttdm/templates/actors/partials/character-spells-tab.html"}}
        </div>
        {{/if}}
        <div class="tab" data-group="primary" data-tab="inventory">
            {{> "systems/againsttdm/templates/actors/partials/character-inventory-tab.html"}}
        </div>
        <div class="tab" data-group="primary" data-tab="notes">
            {{> "systems/againsttdm/templates/actors/partials/character-notes-tab.html"}}
        </div>
    </section>
</form>

